.partners {
  padding: 60px 0 180px 0;
  overflow: hidden!important;

  .partner {
    color: #242A72;
    font-weight: 600;
    line-height: 3.9em;
    font-size: 2rem;
    text-align: center;
  }
}
@media (max-width: 990px) {
  .partners{
    padding-top: 100px;
  }
}
