.mcard {
  width: 100%;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 40px;
  border-radius: 8px;

  .qu {
    font-size: 32px;
    font-weight: 600;
  }

  .inputs {
    .on1 {
      .t1 {
        font-size: 16px;
        margin-bottom: 5px;
        font-weight: 600;
      }
    }

    .on2 {
      margin-top: 20px;

      .t1 {
        font-size: 16px;
        margin-bottom: 5px;
        font-weight: 600;
      }


    }

    .on3 {
      margin-top: 20px;
    }

    .txt {
      margin: 20px 0;
      display: flex;
      gap: 30px;

      .t1 {
        font-size: 14px;
        color: #1a1a1a;
        font-weight: 400;
        text-align: left;
        span {
          font-weight: 600;
        }
      }

      .rd {

      }
    }
  }
}
@media (max-width: 500px) {
  .mcard{
    .qu {
      font-size: 24px;
    }
    .inputs{
      .txt{
        flex-direction: column;
        gap: 10px;
      }
    }
  }
}

@media (max-width: 400px) {
  .mcard{
    .qu {
      font-size: 20px;
    }
    .inputs{
      .txt{
        flex-direction: column;
        gap: 10px;
      }
      .on1 {
        .t1 {
          font-size: 14px;
        }
      }

      .on2 {

        .t1 {
          font-size: 14px;
        }
      }
    }
  }
}
