.fqwr{
  padding-bottom: 50px;
  .txs {
    margin: 40px 0;

    .tx1 {
      text-align: center !important;
      font-size: 1.8rem;
      font-weight: 700;
    }

    .tx2 {
      font-size: 18px;
      line-height: 1.3;
      text-align: center !important;
    }
  }
}
