:root {
  --header-text: #54595f;
  --bb-primary-color: #004f91;
  --white: #ffffff;
  --pr2: #113a57;
  --e-global-color-kadence2: #004f91;
  --border1: #e1e8ed;
  --e-global-color-kadence1: #2ea3f2;
  --star: #FFB229;
  --239: rgb(239, 239, 239);
  --c1: #00A1EF;
  --fac: #395498;
  --FA: #FAFAFA;
  --49b: #494b57;
  --23b: #232b36;
  --15b: #151D26;
  --black: black;
  --ts: #00B437;
  --primary:#2E3192
}
