.pd {
    max-width: 1200px;
    margin: 0 auto;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    height: 100% !important;
    min-width: 220px !important;
    display: flex !important;
    align-items: center !important;
}

.ant-select {
    height: 40px !important;
}
.ant-input {
    height: 40px !important;
}
.ant-picker{
    width: 100%!important;
    height: 40px!important;
}
.bgi {
    height: 25px;
}

.mlr20 {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.sidebar-logo {
    height: 32px !important;
    margin: 16px !important;
    background: rgba(255, 255, 255, 0.3) !important;
}

.site-layout .site-layout-background {
    background: #fff;
    padding: 24px;
}

.mHeader {
    background: #fff !important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.t-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
}

.wrapperClassName {
    width: 100%;
    margin-inline: auto;
    border: 1px solid #d9d9d9;
}

.editorClassName {
    height: 200px !important;
}

.alce {
    display: flex;
    align-items: center;
}

.brc {
    width: 100%;
    background-color: green;
}

.w100 {
    width: 100% !important;
}

@media (max-width: 1300px) {
    .pd {
        padding: 0 5%;
    }
}
