.footer {
  width: 100%;
  background-color: var(--fot);
  padding-bottom: 50px;
  font-weight: 600;
  color: var(--88);

  .inner {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;

    .col {

      img {
        width: 176px;
      }

      .tx {
        margin-top: 25px;
      }

      .title {
        font-size: 24px;
        margin-bottom: 25px;
      }

      .item {
        display: flex;
        gap: 20px;
        margin-bottom: 25px;

        .icon {
          font-size: 25px !important;
        }

        .tc {
          a {
            text-decoration: none;
            color: var(--88);
          }

          .stars {
            .star {
              color: var(--star);
            }
          }
        }
      }
    }
  }

  .line {
    width: 100%;
    height: 2px;
    background-color: var(--88);
  }

  .term {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 20px;

    .chl {
      border-right: 1px solid var(--88);
      padding-right: 20px;
      line-height: 15px;
    }
  }

  .rg {
    margin-top: 25px;
    color: var(--88);
  }
}
