.acmem {
  display: flex;
  gap: 30px;
  padding-bottom: 100px!important;

  .c1 {
    border: 1px solid var(--bb-content-border-color);
    border-radius: var(--bb-block-radius);
    overflow: hidden;
    min-width: 1px;
    -webkit-transition: all linear .2s;
    transition: all linear .2s;
    padding: 15px;
    width: 50%;
    height: 110vh;

    &:nth-child(2) {
      overflow-y: scroll;
    }

    .ft {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      .lf {
        color: var(--bb-headings-color) !important;
        font-size: 1.25rem;
        line-height: 28px;
        font-weight: 600;
      }

      .rg {
        color: var(--bb-primary-color);
        outline: 0;
        font-weight: 500;
        text-align: right;
        text-transform: uppercase;
        letter-spacing: .3px;
        font-size: 12px;
      }
    }

    .rw {
      display: flex;
      gap: 20px;
      margin-bottom: 20px;
      align-items: center;

      .img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-size: cover;
      }

      .icImg {
        display: flex;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--F9);
        align-items: center;
        justify-content: center;

        .icon {
          font-size: 24px;
          color: #DCDDDF;
        }
      }

      .tx1 {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -.24px;
        color: var(--bb-headings-color);
        -webkit-font-smoothing: antialiased;
      }

      .txs {
        .na {
          font-size: 14px;
          font-weight: 500;
          letter-spacing: -.24px;
          color: var(--bb-headings-color);
          -webkit-font-smoothing: antialiased;

          span {
            font-weight: normal !important;
          }
        }

        .date {
          font-size: 14px;
          letter-spacing: -.24px;
          color: var(--bb-headings-color);
          -webkit-font-smoothing: antialiased;
        }
      }
    }

    .card {
      border: 1px solid var(--bb-content-border-color);
      border-radius: var(--bb-block-radius);
      overflow: hidden;
      min-width: 1px;
      -webkit-transition: all linear .2s;
      transition: all linear .2s;
      padding: 15px;
      width: 100%;
      .mim{
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center;
      }
      .t1{
        color: var(--bb-headings-color) !important;
        font-size: 1.25rem;
        line-height: 28px;
        font-weight: 600;
      }
    }
  }
}
@media (max-width: 1100px) {
  .acmem{
    flex-direction: column;
    .c1 {
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 1100px) {
  .acmem{
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    .c1 {
      width: 100%;
      height: auto;
      .card{
        .mim{
          height: 200px;
        }
      }
    }
  }
}
